.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin: 0px 5rem 100px 5rem;
    color: var(--primary-text-color);
}

.intro-cards{
    display: flex;
    align-items: center;
    gap: 50px;
}

.about {
    background-color: #eeeded;
    width: 400px;
    height: 400px;
    display: flex;
    padding: 0rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.about:hover{
    -webkit-box-shadow: 0px 7px 39px 2px rgba(189,189,189,1);
-moz-box-shadow: 0px 7px 39px 2px rgba(189,189,189,1);
box-shadow: 0px 7px 39px 2px rgba(189,189,189,1);
}

.about>h2{
    margin: 1rem 0rem 2rem 0rem;
}


.about>p {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
}

.mission {
    background-color:#becfe0;
    padding: 4rem 3rem;
    border-radius: 10px;
}

.mission>p {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
}

@media screen and (max-width:900px) {

    .about {
        padding: 0rem 2rem;
        border-radius: 10px;
        width: 350px;
        height: 350px;
    }


    .about>p {
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
    }

    .intro-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .mission>p {
        width: 100%;
        font-weight: 300;
        font-size: 1rem;
    }
}