.intro {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0px 3rem 0px 3rem;
    color: var(--primary-text-color);
}

.about {
    background-color: #4b7482;
    padding: 4rem 3rem;
    border-radius: 10px;
}

.about>h2{
    color: whitesmoke;
    margin-bottom: 1rem;
}

.mission>h2 {
    margin-bottom: 1rem;
}


.about>p {
    width: 100%;
    font-weight: 400;
    color: whitesmoke;
    font-size: 1rem;
    line-height: 30px;
}

.mission {
    background-color:#becfe0;
    padding: 4rem 3rem;
    border-radius: 10px;
}

.mission>p {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
}

@media screen and (max-width:900px) {
    .intro {
        flex-direction: column;
        margin: 0rem 1rem;
        /* margin: 0rem 0rem; */
    }

    .about {
        background-color: #4b7482;
        padding: 2rem 1rem;
        border-radius: 10px;
    }

    .mission {
        background-color:#becfe0;
        padding: 2rem 1rem;
        border-radius: 10px;
    }

    .about>p {
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
    }

    .mission>p {
        width: 100%;
        font-weight: 300;
        font-size: 1rem;
    }
}